:root {
    --panel-backgroundColor: lightgoldenrodyellow;
    --panel-borderColor: goldenrod;
    --panel-boarderRadius: 10px;
    /* --gameboard-backgroundColor: rgba(128, 128, 128, 0.85); */
    --gamebaord-borderColor: 2px solid rgba(255, 255, 255, 0.18);
    --gameboard-borderRadius: 8%;
    --gameCircle-borderColor: rgb(17, 16, 16);
    --player_1-backgroundColor: green;
    --player_2-backgroundColor: chocolate;
    --player_0-backgroundColor: rgba(255, 255, 255, 0.378);
    --footer-backgroundColor: rgb(70, 158, 221);
    --footer-borderColor: rgba(24, 23, 22, 0);
    --footer-backgroundColorOnHover: chocolate;
    --gameboard-boxShadow: 0px 0px 30px rgba(227, 228, 237, 0.37);

}

body {
    background-image: url(/src/image/pexels-d0nmil0-935484.jpg);
    background-size: cover;
    zoom: 75%;
}

.panel {
    position: absolute;
    box-shadow: var(--gameboard-boxShadow);
    backdrop-filter: blur(30px);
    /* background-color: var(--panel-backgroundColor); */
    border: 8px solid var(--panel-borderColor);
    z-index: 1;
    border-radius: var(--panel-boarderRadius);
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    top: 3%;
    width: 300px;
    height: 70px;

}

.header-text {
    font-size: 28px;
    font-family: calibri;
    font-weight: bold;
    color: rgb(36, 34, 34);
    text-align: center;
    margin-top: 20px;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    width: 500px;
    top: 11%;
    backdrop-filter: blur(30px);
    box-shadow: var(--gameboard-boxShadow);
    position: absolute;
    background-color: var(--gameboard-backgroundColor);
    border: 8px solid var(--gamebaord-borderColor);
    border-radius: var(--gameboard-borderRadius);
}

.gameCircle {
    background-color: color;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    border: 5px solid var(--gameCircle-borderColor);
}

.player_1 {
    background-color: var(--player_1-backgroundColor);
}

.player_2 {
    background-color: var(--player_2-backgroundColor);
}

.player_0 {
    background-color: var(--player_0-backgroundColor);
}

.footer {
    top: 670px;
    width: 300px;
    height: 60px;
    text-align: center;
    box-shadow: var(--gameboard-boxShadow);
}

.footer button {
    font-size: 26px;
    font-family: calibri;
    background-color: transparent;
    border: var(--footer-borderColor) solid 4px;
    margin-top: 2.5%;
    width: 75%;
    height: 75%;
    border-radius: 3px;
    font-weight: bold;
    background-color: var(--footer-backgroundColor);
}

.footer button:hover {
    background-color: var(--footer-backgroundColorOnHover);
}